body {
  background-color: #000000;
}
.logo {
  margin: 22px 0 0 53px;
}
.logo img {
  height: 25px;
}
#boxPerfil{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.whoIsWatching {
  font-family: Helvetica;
  font-size: 2.6rem;
  font-style: normal;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 160px;
  margin-bottom: 10px;
}
.perfil {
  display: flex;
  align-items: center;
  
    
}

.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
}
.conteudo:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    font-family: Helvetica;
    
  }
.perfil img {
  height: 200px;
  border-radius: 5px;
  margin-inline: 1.2rem;
  
  cursor: pointer;
  
}

.perfil img:hover {
    border: 3px solid #ffffff;
    
    
}

.conteudo p {
    font-family: Helvetica;
    font-size: 1.6rem;
    font-style: normal;
    color: #afafaf;
}
