<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/custom.css" />
    <link rel="stylecut icon" href="/img/Netflix_logo.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&display=swap" rel="stylesheet"/>
    <title>Netflix</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="https://www.netflix.com/ManageProfiles">
            <img src="/img/netflix_logo_name.png" alt="Netflix-logo" />
        </a>
      </div>
    </header>
    <section id="boxPerfil">
        <div class="whoIsWatching">
            <h1>Quem está assistindo?</h1>
        </div>
        <div class="perfil">
            <div class="conteudo">
                <img src="/img/perfil-green.png" alt="" />
                <p>Vanessa</p>
            </div>
            <div class="conteudo">
                <img src="/img/perfil-orange.png" alt="" />
                <p>Ana Lúcia</p>
            </div>
            <div class="conteudo">
                <img src="/img/perfil-yellow.png" alt="" />
                <p>Luan</p>
            </div>
            <div class="conteudo">
                <img src="/img/perfil-blue.png" alt="" />
                <p>Raphael</p>
            </div>
            <div class="conteudo">
                <img src="/img/perfil-infantil.png" alt="" />
                <p>Infantil</p>
            </div>
        </div>
        <div class="gerenciar">
            <p>GERENCIAR PERFIS</p>
        </div>
    </section>
  </body>
</html>
